{{ template "base" . }}
{{ define "title" }}Gluttony - Login{{ end }}
{{ define "head" }}{{ end }}
{{ define "view" }}
  <main class="flex h-dvh items-center justify-center">
    {{ template "login/form" . }}
  </main>
{{ end }}
