[Unit]
Description=Gluttony
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/gluttony run --config /etc/gluttony/config.toml
LoadCredential=postgres-password

[Install]
WantedBy=multi-user.target