.alert {
    padding: calc(var(--spacing) * 4);
    border-radius: var(--radius-lg);
    display: flex;
    flex-direction: row;
    gap: calc(var(--spacing) * 4);

    background-color: var(--alert-background-color);
    box-shadow: inset 0 0 0 1px var(--alert-border-color);
    color: var(--alert-text-color);

    & > .alert-content {
        display: flex;
        flex-direction: column;

        & > .alert-title {
            font-weight: var(--font-weight-semibold);
        }

        & > .alert-text {
            font-size: var(--text-sm);
        }
    }

    &.is-ghost-danger {
        --alert-background-color: var(--color-danger-2);
        --alert-border-color: var(--color-danger-7);
        --alert-text-color: var(--color-danger-11);
    }
}
