.tag {
  @apply flex h-6 items-center gap-1 rounded-sm px-2 text-sm font-semibold;

  background-color: var(--tag-background-color);
  color: var(--tag-text-color);

  &.is-ghost-neutral {
    --tag-background-color: color-mix(
      in srgb,
      var(--color-neutral-9),
      transparent 90%
    );
    --tag-text-color: var(--color-neutral-font-secondary);
  }

  svg {
    width: 1em;
    height: 1em;
  }
}
