{{ define "header" }}
  <header
    class="border-neutral-border-1 bg-neutral-layer-2 flex h-[72px] items-center justify-between border-b px-8"
  >
    <div class="form-control">
      <input
        class="input"
        placeholder="Search recipe"
        aria-label="Recipe search text field"
      />
    </div>
  </header>
{{ end }}
