{{ define "recipe/form" }}
  <form
    enctype="multipart/form-data"
    id="recipe-form"
    class="flex flex-1 flex-col gap-4"
    hx-target="this"
    hx-swap="outerHTML"
    {{ if eq .Form.ID 0 }}
      hx-post="/recipes/create/form"
    {{ else }}
      hx-post="/recipes/edit/form"
    {{ end }}
  >
    <input type="hidden" name="recipe_id" value="{{ .Form.ID }}" />
    <h2 class="text-2xl">Summary</h2>
    <hr class="text-neutral-border-2 w-full" />
    <div class="flex gap-4">
      <div class="form-control">
        <label for="cover-image">
          <span class="label">
            <span class="label-text">Thumbnail</span>
          </span>
        </label>
        <div
          x-data="{file: null, imageUrl: '/media/{{ .Form.ThumbnailImageURL }}'}"
          class="outline-primary-8 bg-neutral-layer-1 border-neutral-border-2 relative flex h-60 w-96 rounded-sm border focus-within:outline-2"
        >
          <input
            name="thumbnail-image-url"
            type="hidden"
            value="{{ .Form.ThumbnailImageURL }}"
          />
          <input
            id="thumbnail-image"
            type="file"
            name="thumbnail-image"
            class="absolute inset-0 z-50 m-0 h-full w-full p-0 opacity-0 outline-none"
            x-on:change="file = $event.target.files[0]; fileToDataUrl($event, url => imageUrl = url )"
            x-on:dragover="$el.classList.add('active')"
            x-on:dragleave="$el.classList.remove('active')"
            x-on:drop="$el.classList.remove('active')"
          />

          <template x-if="imageUrl !== ''">
            <img
              class="absolute h-full w-full rounded-sm object-cover"
              :src="imageUrl"
              alt="Image upload preview"
            />
          </template>

          <template x-if="imageUrl === ''">
            <div class="flex flex-1 flex-col items-center justify-center gap-1">
              <p>
                <span class="underline">Click to upload</span> or drag & drop
                image
              </p>
              <p class="text-neutral-font-secondary">
                Maximum image size is 2 MB.
              </p>
            </div>
          </template>
        </div>
      </div>
      <div class="flex w-124 max-w-124 flex-col gap-4">
        <label class="form-control">
          <span class="label">
            <span class="label-text"
              >Title
              <span class="text-danger-11 ml-1 text-xs">(Required)</span>
            </span>
          </span>
          <input class="input" name="name" value="{{ .Form.Name }}" />
        </label>
        <label class="form-control">
          <span class="label">
            <span class="label-text">Description</span>
          </span>
          <textarea rows="6" class="input resize-none" name="description">
{{ .Form.Description }}</textarea
          >
        </label>
      </div>
    </div>
    <div>
      <div class="form-control">
        <span class="label">
          <span class="label-text">Visibility</span>
        </span>
        <div class="flex gap-4">
          <label class="flex cursor-pointer gap-2">
            <input
              type="radio"
              checked="checked"
              name="mode"
              class="radio"
              value="draft"
            />
            <div class="flex flex-col">
              <span>Draft</span>
              <span class="text-neutral-font-secondary text-sm">
                Recipe will not be visible
              </span>
            </div>
          </label>
          <label class="flex cursor-pointer gap-2">
            <input type="radio" name="mode" class="radio" value="public" />
            <div class="flex flex-col">
              <span>Public</span>
              <span class="text-neutral-font-secondary text-sm">
                Recipe will be visible for everyone
              </span>
            </div>
          </label>
        </div>
      </div>
    </div>
    <div>
      <h2 class="m-0 text-2xl">Metadata & Nutrition</h2>
      <h3 class="text-neutral-font-secondary text-sm">
        Nutrition is calculated per
        <b class="text-neutral-font">single serving</b>
      </h3>
    </div>
    <hr class="text-neutral-border-2 w-full" />
    <div class="flex gap-4">
      <div class="form-control gap-2">
        <div class="flex w-96 max-w-96 flex-col gap-4">
          <label class="form-control">
            <span class="label">
              <span class="label-text">Calories (kcal)</span>
            </span>
            <input
              class="input"
              name="calories"
              value="{{ .Form.Nutrition.Calories }}"
            />
          </label>

          <label class="form-control">
            <span class="label">
              <span class="label-text">Fat (g)</span>
            </span>
            <input class="input" name="fat" value="{{ .Form.Nutrition.Fat }}" />
          </label>

          <label class="form-control">
            <span class="label">
              <span class="label-text">Carbs (g)</span>
            </span>
            <input
              class="input"
              name="carbs"
              value="{{ .Form.Nutrition.Carbs }}"
            />
          </label>

          <label class="form-control">
            <span class="label">
              <span class="label-text">Protein (g)</span>
            </span>
            <input
              class="input"
              name="protein"
              value="{{ .Form.Nutrition.Protein }}"
            />
          </label>
        </div>
      </div>
      <div class="flex w-124 max-w-124 flex-col gap-4">
        <label class="form-control">
          <span class="label">
            <span class="label-text"
              >Source
              <span class="text-danger-11 text-xs">(Required)</span></span
            >
          </span>

          <input class="input" name="source" value="{{ .Form.Source }}" />
          <span class="hint">Website link, name of cookbook, friend etc.</span>
        </label>
        <div class="flex gap-4">
          <label class="form-control flex-1">
            <span class="label">
              <span class="label-text">Servings</span>
            </span>
            <input
              class="input w-full"
              type="number"
              name="servings"
              value="{{ .Form.Servings }}"
            />
          </label>
          <label class="form-control flex-1">
            <span class="label">
              <span class="label-text">Preparation time</span>
            </span>
            <input
              name="preparation-time"
              class="input w-full"
              type="time"
              value="{{ formatDuration .Form.PreparationTime }}"
            />
          </label>
          <label class="form-control flex-1">
            <span class="label">
              <span class="label-text">Cook time</span>
            </span>
            <input
              name="cook-time"
              class="input w-full"
              type="time"
              value="{{ formatDuration .Form.CookTime }}"
            />
          </label>
        </div>
        {{/* Tag input */}}
        <div class="form-control">
          <span class="label">
            <span class="label-text">Tags</span>
          </span>
          <div
            class="bg-neutral-layer-1 border-neutral-border-2 flex flex-col gap-4 rounded-sm border p-3"
          >
            <div id="tags" class="flex min-h-6 gap-2">
              {{ range $value := .Form.Tags }}
                <button
                  type="button"
                  onclick="removeTag(event)"
                  class="tag is-ghost-neutral hover:text-neutral-font cursor-pointer"
                >
                  <input type="hidden" name="tag" value="{{ $value }}" />
                  <span class="tag-text">{{ $value }}</span>
                  {{ template "icons/x" . }}
                </button>
              {{ end }}
            </div>
            <template id="template-tag">
              <button
                type="button"
                onclick="removeTag(event)"
                class="tag is-ghost-neutral hover:text-neutral-font cursor-pointer"
              >
                <input type="hidden" name="tag" />
                <span class="tag-text"></span>
                {{ template "icons/x" . }}
              </button>
            </template>
            <input
              id="form"
              aria-label="Tags"
              class="input bg-neutral-layer-2"
              placeholder="Add tag"
              list="tag-list"
              onkeydown="addTag(event)"
            />
            <datalist id="tag-list">
              {{/* TODO: data from backend */}}
              <option>Dinner</option>
              <option>Breakfast</option>
            </datalist>
          </div>
        </div>
      </div>
    </div>
    <h2 class="text-2xl">Ingredients</h2>
    <hr class="text-neutral-border-2 w-full" />
    {{ template "recipe-create/ingredients" . }}
    <h2 class="text-2xl">Instructions</h2>
    <hr class="text-neutral-border-2 w-full" />
    <div class="form-control w-226">
      <textarea
        id="instructions"
        aria-label="Instructions"
        rows="3"
        class="input max-h-[80dvh] min-h-[320px] w-full"
        name="instructions"
      >
{{ .Form.Instructions }}</textarea
      >
    </div>
  </form>
{{ end }}

{{ define "sub-sidebar" }}
  <div class="sidebar">
    <div class="border-b-neutral-border-1 flex h-18 items-center border-b px-2">
      <a class="link w-full" href="/recipes/create">
        {{ template "icons/plus" }}
        <span>New Recipe Draft</span>
      </a>
    </div>
    <nav class="px-2">
      <ul>
        <li>
          <a
            title="Butter Curry Very Spicy"
            class="link w-full overflow-hidden"
            href="recipe/create/draft/1"
          >
            <span class="tag is-ghost-neutral">Draft</span>
            <span class="truncate">Butter Curry Very Spicy</span>
          </a>
        </li>
        <li>
          <a class="link w-full overflow-hidden" href="recipe/create/draft/1">
            <span class="tag is-ghost-neutral">Draft</span>
            <span class="truncate">Apple Pie</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
{{ end }}

{{ define "recipe-create/ingredient-row" }}
  <div class="flex w-full flex-1 gap-4">
    <div class="flex w-96 max-w-96 gap-4">
      <label class="form-control flex-1">
        {{ if eq .Order 0 }}
          <span class="label">
            <span class="label-text">Quantity</span>
          </span>
        {{ end }}
        <input
          class="input w-full"
          required
          name="quantity"
          type="number"
          min="1"
          step="1"
          value="{{ .Quantity }}"
        />
      </label>
      <label class="form-control flex-2">
        {{ if eq .Order 0 }}
          <span class="label">
            <span class="label-text">Unit</span>
          </span>
        {{ end }}
        <select name="unit" class="input select w-full">
          <option
            value="tsp"
            {{ if eq .Unit "tsp" }}selected{{ end }}
          >
            Teaspoon (tsp)
          </option>
          <option
            value="tbsp"
            {{ if eq .Unit "tbsp" }}selected{{ end }}
          >
            Tablespoon (tbsp)
          </option>
          <option
            value="cup"
            {{ if eq .Unit "cup" }}selected{{ end }}
          >
            Cup
          </option>
          <option
            value="g"
            {{ if eq .Unit "g" }}
              selected
            {{ else if eq .Unit nil }}
              selected
            {{ end }}
          >
            Grams (g)
          </option>
          <option value="ml" {{ if eq .Unit "ml" }}selected{{ end }}>
            Milliliters (ml)
          </option>
          <option
            value="count"
            {{ if eq .Unit "count" }}selected{{ end }}
          >
            Count
          </option>
        </select>
      </label>
    </div>
    <div class="flex w-124 max-w-124 gap-4">
      <label class="form-control w-full">
        {{ if eq .Order 0 }}
          <span class="label">
            <span class="label-text">Name</span>
          </span>
        {{ end }}
        <input
          class="input w-full"
          required
          name="ingredient"
          size="20"
          list="ingredient-list"
          autocomplete="off"
          value="{{ .Name }}"
        />
      </label>
    </div>
  </div>
{{ end }}
{{ define "recipe-create/ingredients" }}
  <div class="flex w-full flex-col gap-4">
    <div id="ingredients" class="flex flex-col gap-4">
      {{ range $val := .Form.Ingredients }}
        {{ template "recipe-create/ingredient-row" $val }}
      {{ end }}
    </div>
    <template id="template-ingredient-row">
      {{ template "recipe-create/ingredient-row" }}
    </template>
    {{/* TODO: data from backend */}}
    <datalist id="ingredient-list">
      <option>Apple</option>
      <option>Pork</option>
    </datalist>
    <div class="flex w-224 justify-end">
      <button
        class="button is-ghost-neutral"
        type="button"
        onclick="addIngredientRow()"
      >
        Add ingredient
      </button>
    </div>
  </div>
{{ end }}

{{ define "recipe-create/scripts" }}
  <script>
    const fileToDataUrl = (event, callback) => {
      if (!event.target.files.length) return;

      let file = event.target.files[0],
        reader = new FileReader();

      reader.readAsDataURL(file);
      reader.onload = (e) => callback(e.target.result);
    };
    // Tags
    const removeTag = (event) => {
      event.target.closest('.tag').remove();
    };

    const addTag = (event) => {
      const isEnter = event.key === 'Enter' || event.keyCode === 13;
      if (!isEnter) {
        return;
      }

      event.preventDefault();

      const template = document.getElementById('template-tag');
      const newNode = template.content.cloneNode(true);
      newNode.querySelector('.tag-text').textContent = event.target.value;
      newNode.querySelector('input').value = event.target.value;
      document.getElementById('tags').appendChild(newNode);
      event.target.value = '';
    };

    // Ingredients
    const focusLastIngredientRow = () => {
      const focusTarget = document
        .getElementById('ingredients')
        .lastElementChild.querySelector('[name="quantity"]');

      focusTarget.focus();
      focusTarget.scrollIntoView();
    };

    const removeIngredientRow = (event) => {
      event.target.closest('.ingredient-row').remove();
      focusLastIngredientRow();
    };

    const addIngredientRow = () => {
      // Insert template after row containing add button
      const template = document.getElementById('template-ingredient-row');
      const newNode = template.content.cloneNode(true);

      document.getElementById('ingredients').appendChild(newNode);
      focusLastIngredientRow();
    };

    const autoResizeTextarea = (event) => {
      if (event.target.scrollHeight <= 320) {
        return;
      }

      event.target.style.height = 'auto';
      event.target.style.height = `${event.target.scrollHeight}px`;
      event.target.scrollIntoView({ block: 'end' });
    };

    document
      .getElementById('instructions')
      .addEventListener('input', autoResizeTextarea);
  </script>
{{ end }}
