{{- /*gotype: gluttony/internal/recipe.CreateFormModel */ -}}
{{ define "title" }}Gluttony - Create recipe{{ end }}
{{ define "view" }}
  <div class="flex flex-1">
    {{ template "sidebar" . }}
    {{ template "sub-sidebar" . }}
    <div class="bg-neutral-layer-2 w-full">
      {{ template "recipe-create/header" . }}
      <main class="flex  p-8">
        {{ template "recipe-create/form" . }}
      </main>
    </div>
  </div>
  <script>
    const fileToDataUrl = (event, callback) => {
      if (!event.target.files.length) return;

      let file = event.target.files[0],
        reader = new FileReader();

      reader.readAsDataURL(file);
      reader.onload = (e) => callback(e.target.result);
    };
  </script>
  {{ template "recipe-create/scripts" }}
{{ end }}

{{ define "recipe-create/form" }}
  <form
    enctype="multipart/form-data"
    id="recipe-create-form"
    class="flex flex-col gap-4 flex-1"
    hx-target="this"
    hx-swap="outerHTML"
    hx-post="/recipes/create/form"
  >
    <h2 class="text-2xl">Summary</h2>
    <hr class="w-full text-neutral-border-2" />
    <div class="flex gap-4">
      <div class="form-control">
        <label for="cover-image">
          <span class="label">
            <span class="label-text">Cover image</span>
          </span>
        </label>
        <div
          x-data="{file: null, imageUrl: '{{ .Form.CoverImageURL }}'}"
          class="w-96 focus-within:outline-2 outline-primary-8 h-60 relative flex bg-neutral-layer-1 border border-neutral-border-2 rounded-sm"
        >
          <input
            name="cover-image-url"
            type="hidden"
            value="{{ .Form.CoverImageURL }}"
          />
          <input
            id="cover-image"
            type="file"
            name="cover-image"
            class="absolute inset-0 z-50 m-0 p-0 w-full h-full outline-none opacity-0"
            x-on:change="file = $event.target.files[0]; fileToDataUrl($event, url => imageUrl = url )"
            x-on:dragover="$el.classList.add('active')"
            x-on:dragleave="$el.classList.remove('active')"
            x-on:drop="$el.classList.remove('active')"
          />

          <template x-if="imageUrl !== ''">
            <img
              class="object-cover absolute h-full w-full rounded-sm"
              :src="imageUrl"
              alt="Image upload preview"
            />
          </template>

          <template x-if="imageUrl === ''">
            <div class="flex flex-1 justify-center items-center flex-col gap-1">
              <p>
                <span class="underline">Click to upload</span> or drag & drop
                image
              </p>
              <p class="text-neutral-font-secondary">
                Maximum image size is 2 MB.
              </p>
            </div>
          </template>
        </div>
      </div>
      <div class="flex flex-col gap-4 max-w-124 w-124">
        <label class="form-control">
          <span class="label">
            <span class="label-text"
              >Title
              <span class="ml-1 text-danger-11 text-xs">(Required)</span>
            </span>
          </span>
          <input class="input" name="name" value="{{ .Form.Name }}" />
        </label>
        <label class="form-control">
          <span class="label">
            <span class="label-text">Description</span>
          </span>
          <textarea rows="6" class="input" name="description">
{{ .Form.Description }}</textarea
          >
        </label>
      </div>
    </div>
    <div>
      <h2 class="text-2xl m-0">Metadata & Nutrition</h2>
      <h3 class="text-sm text-neutral-font-secondary">
        Nutrition is calculated per
        <b class="text-neutral-font">Single Serving</b>
      </h3>
    </div>
    <hr class="w-full text-neutral-border-2" />
    <div class="flex gap-4">
      <div class="form-control gap-2">
        <div class="flex flex-col gap-4 max-w-96 w-96">
          <label class="form-control">
            <span class="label">
              <span class="label-text">Calories (kcal)</span>
            </span>
            <input
              class="input"
              name="calories"
              value="{{ .Form.Nutrition.Calories }}"
            />
          </label>

          <label class="form-control">
            <span class="label">
              <span class="label-text">Fat (g)</span>
            </span>
            <input class="input" name="fat" value="{{ .Form.Nutrition.Fat }}" />
          </label>

          <label class="form-control">
            <span class="label">
              <span class="label-text">Carbs (g)</span>
            </span>
            <input
              class="input"
              name="carbs"
              value="{{ .Form.Nutrition.Carbs }}"
            />
          </label>

          <label class="form-control">
            <span class="label">
              <span class="label-text">Protein (g)</span>
            </span>
            <input
              class="input"
              name="protein"
              value="{{ .Form.Nutrition.Protein }}"
            />
          </label>
        </div>
      </div>
      <div class="flex flex-col gap-4 w-124 max-w-124">
        <label class="form-control">
          <span class="label">
            <span class="label-text"
              >Source
              <span class="text-xs text-danger-11">(Required)</span></span
            >
          </span>

          <input class="input" name="source" value="{{ .Form.Source }}" />
          <span class="hint">Website link, name of cookbook, friend etc.</span>
        </label>
        <div class="flex gap-4">
          <label class="form-control flex-1">
            <span class="label">
              <span class="label-text">Servings</span>
            </span>
            <input
              class="input w-full"
              type="number"
              name="servings"
              value="{{ .Form.Servings }}"
            />
          </label>
          <label class="form-control flex-1">
            <span class="label">
              <span class="label-text">Preparation time</span>
            </span>
            <input
              name="preparation-time"
              class="input w-full"
              type="time"
              value="{{ formatDuration .Form.PreparationTime }}"
            />
          </label>
          <label class="form-control flex-1">
            <span class="label">
              <span class="label-text">Cook time</span>
            </span>
            <input
              name="cook-time"
              class="input w-full"
              type="time"
              value="{{ formatDuration .Form.CookTime }}"
            />
          </label>
        </div>
        {{/* Tag input */}}
        <div class="form-control">
          <span class="label">
            <span class="label-text">Tags</span>
          </span>
          <div
            class="p-3 bg-neutral-layer-1 border border-neutral-border-2 rounded-sm flex flex-col gap-4"
          >
            <div id="tags" class="flex gap-2">
              {{ range $value := .Form.Tags }}
                <button
                  type="button"
                  onclick="removeTag(event)"
                  class="tag is-ghost-neutral cursor-pointer hover:text-neutral-font"
                >
                  <input type="hidden" name="tag" value="{{ $value }}" />
                  <span class="tag-text">{{ $value }}</span>
                  {{ template "icons/x" . }}
                </button>
              {{ end }}
            </div>
            <template id="template-tag">
              <button
                type="button"
                onclick="removeTag(event)"
                class="tag is-ghost-neutral cursor-pointer hover:text-neutral-font"
              >
                <input type="hidden" name="tag" />
                <span class="tag-text"></span>
                {{ template "icons/x" . }}
              </button>
            </template>
            <input
              id="form"
              aria-label="Tags"
              class="input bg-neutral-layer-2"
              placeholder="Add tag"
              list="tag-list"
              onkeydown="addTag(event)"
            />
            <datalist id="tag-list">
              {{/* TODO: data from backend */}}
              <option>Dinner</option>
              <option>Breakfast</option>
            </datalist>
          </div>
        </div>
      </div>
    </div>
    <h2 class="text-2xl">Ingredients</h2>
    <hr class="w-full text-neutral-border-2" />
    {{ template "recipe-create/ingredients" . }}
    <h2 class="text-2xl">Instructions</h2>
    <hr class="w-full text-neutral-border-2" />
    <div class="form-control w-226">
      <textarea
        id="instructions"
        aria-label="Instructions"
        rows="3"
        class="input w-full min-h-[320px] max-h-[80dvh]"
        name="instructions"
      >
{{ .Form.Instructions }}</textarea
      >
    </div>
  </form>
{{ end }}

{{ define "sub-sidebar" }}
  <div class="sidebar">
    <div class="h-18 px-2 flex items-center border-b border-b-neutral-border-1">
      <a class="link w-full" href="/recipes/create">
        {{ template "icons/plus" }}
        <span>New Recipe Draft</span>
      </a>
    </div>
    <nav class="px-2">
      <ul>
        <li>
          <a
            title="Butter Curry Very Spicy"
            class="link w-full overflow-hidden"
            href="recipe/create/draft/1"
          >
            <span class="tag is-ghost-neutral">Draft</span>
            <span class="truncate">Butter Curry Very Spicy</span>
          </a>
        </li>
        <li>
          <a class="link w-full overflow-hidden" href="recipe/create/draft/1">
            <span class="tag is-ghost-neutral">Draft</span>
            <span class="truncate">Apple Pie</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
{{ end }}

{{ define "recipe-create/header" }}
  <header
    class="border-b border-neutral-border-1 px-8 h-[72px] flex justify-between items-center bg-neutral-layer-2"
  >
    <div class="form-control">
      <a href="/recipes" class="button is-ghost-neutral">Go back to recipes</a>
    </div>
    <div class="flex gap-4">
      <button
        class="button is-ghost-neutral"
        type="submit"
        form="recipe-create-form"
      >
        Save
      </button>
      <button class="button is-solid-primary">Publish</button>
    </div>
  </header>
{{ end }}

{{ define "recipe-create/ingredient-row" }}
  <div class="flex gap-4 flex-1 w-full">
    <div class="flex gap-4 max-w-96 w-96">
      <label class="form-control flex-1">
        {{ if eq .Order 0 }}
          <span class="label">
            <span class="label-text">Quantity</span>
          </span>
        {{ end }}
        <input
          class="input w-full"
          required
          name="quantity"
          type="number"
          min="1"
          step="1"
          value="{{ .Quantity }}"
        />
      </label>
      <label class="form-control flex-2">
        {{ if eq .Order 0 }}
          <span class="label">
            <span class="label-text">Unit</span>
          </span>
        {{ end }}
        <select name="unit" class="input select w-full">
          <option
            value="tsp"
            {{ if eq .Unit "tsp" }}selected{{ end }}
          >
            Teaspoon (tsp)
          </option>
          <option
            value="tbsp"
            {{ if eq .Unit "tbsp" }}selected{{ end }}
          >
            Tablespoon (tbsp)
          </option>
          <option
            value="cup"
            {{ if eq .Unit "cup" }}selected{{ end }}
          >
            Cup
          </option>
          <option
            value="g"
            {{ if eq .Unit "g" }}
              selected
            {{ else if eq .Unit nil }}
              selected
            {{ end }}
          >
            Grams (g)
          </option>
          <option value="ml" {{ if eq .Unit "ml" }}selected{{ end }}>
            Milliliters (ml)
          </option>
          <option
            value="count"
            {{ if eq .Unit "count" }}selected{{ end }}
          >
            Count
          </option>
        </select>
      </label>
    </div>
    <div class="flex gap-4 max-w-124 w-124">
      <label class="form-control w-full">
        {{ if eq .Order 0 }}
          <span class="label">
            <span class="label-text">Name</span>
          </span>
        {{ end }}
        <input
          class="input w-full"
          required
          name="ingredient"
          size="20"
          list="ingredient-list"
          autocomplete="off"
          value="{{ .Name }}"
        />
      </label>
    </div>
  </div>
{{ end }}
{{ define "recipe-create/ingredients" }}
  <div class="flex flex-col gap-4 w-full">
    <div id="ingredients" class="flex flex-col gap-4">
      {{ range $val := .Form.Ingredients }}
        {{ template "recipe-create/ingredient-row" $val }}
      {{ end }}
    </div>
    <template id="template-ingredient-row">
      {{ template "recipe-create/ingredient-row" }}
    </template>
    {{/* TODO: data from backend */}}
    <datalist id="ingredient-list">
      <option>Apple</option>
      <option>Pork</option>
    </datalist>
    <div class="flex justify-end w-224">
      <button
        class="button is-ghost-neutral"
        type="button"
        onclick="addIngredientRow()"
      >
        Add ingredient
      </button>
    </div>
  </div>
{{ end }}

{{ define "recipe-create/scripts" }}
  <script>
    // Tags
    const removeTag = (event) => {
      event.target.closest('.tag').remove();
    };

    const addTag = (event) => {
      const isEnter = event.key === 'Enter' || event.keyCode === 13;
      if (!isEnter) {
        return;
      }

      event.preventDefault();

      const template = document.getElementById('template-tag');
      const newNode = template.content.cloneNode(true);
      newNode.querySelector('.tag-text').textContent = event.target.value;
      newNode.querySelector('input').value = event.target.value;
      document.getElementById('tags').appendChild(newNode);
      event.target.value = '';
    };

    // Ingredients
    const focusLastIngredientRow = () => {
      const focusTarget = document
        .getElementById('ingredients')
        .lastElementChild.querySelector('[name="quantity"]');

      focusTarget.focus();
      focusTarget.scrollIntoView();
    };

    const removeIngredientRow = (event) => {
      event.target.closest('.ingredient-row').remove();
      focusLastIngredientRow();
    };

    const addIngredientRow = () => {
      // Insert template after row containing add button
      const template = document.getElementById('template-ingredient-row');
      const newNode = template.content.cloneNode(true);

      document.getElementById('ingredients').appendChild(newNode);
      focusLastIngredientRow();
    };

    const autoResizeTextarea = (event) => {
      console.log(event);
      if (event.target.scrollHeight <= 320) {
        console.log('out', event.target.scrollHeight);
        return;
      }

      console.log(event.target.scrollHeight);
      event.target.style.height = 'auto';
      event.target.style.height = `${event.target.scrollHeight}px`;
      event.target.scrollIntoView({ block: 'end' });
    };

    document
      .getElementById('instructions')
      .addEventListener('input', autoResizeTextarea);
  </script>
{{ end }}
